@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lobster+Two:ital@1&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Styling */

body {
  background-color: hsl(0, 30%, 95%);
  font-family: Josefin Sans;
  color: hsl(0, 60%, 15%);
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Lobster two";
}

header {
  padding: .5rem;
  padding-left: 2rem;
  background-color: hsl(100, 30%, 85%);
  box-shadow: 0 0 6px hsl(98, 43%, 10%);
  position: relative;
}


a {
  text-decoration: none;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("cocktails.jpg");
  background-size: cover;
  height: 80vh;
}

#hero a {
  margin-top: 1.5rem;
  background-color: hsl(0, 50%, 90%);
  padding: .3rem;
  border-radius: 5px;
  box-shadow: 0 2px 3px hsl(0, 60%, 25%);
  color: inherit;
}

header a {
  font-family: Lobster two;
  font-size: 40px;
  color: hsl(98, 43%, 10%);
}

h2 {
  font-size: 28px;
  padding: .4rem;
}

input,
button {
  font-family: Josefin Sans;
}

#search-submit,
#random-button {
  background-color: hsl(0, 50%, 90%);
  padding: .7rem 1.7rem;
  font-size: 24px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 2px 3px hsl(0, 60%, 25%);
  color: hsl(0, 60%, 15%);
  cursor: pointer;
  margin-left: 2rem;
}

#search-text {
  font-size: 24px;
  padding: .7rem;
  border-radius: 5px;
  border-style: none;
  text-align: center;
  box-shadow: 0 2px 3px;
}

#search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#account {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 0;
}

#account input {
  font-size: 18px;
}

#account input[type=text],
input[type=password] {
  padding: .25rem;
  border-radius: 5px;
  border-style: none;
  box-shadow: 0 1px 3px hsl(0, 0%, 15%);
}

#account input[type=submit] {
  background-color: hsl(0, 50%, 90%);
  padding: .25rem;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 2px 3px hsl(0, 60%, 25%);
  color: hsl(0, 60%, 15%);
  cursor: pointer;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

ul li img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0px 1px 7px hsl(0, 60%, 15%)
}

.drink-name {
  padding-bottom: .7rem;
  font-size: 20px;
}


#greeting {
  padding: 2rem;
  text-align: center;
  font-size: 28px;
}

.favorite-button {
  margin-top: .5rem;
  background-color: hsl(0, 50%, 90%);
  padding: .2rem;
  font-size: 16px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 1px 2px hsl(0, 60%, 25%);
  color: hsl(0, 60%, 15%);
  cursor: pointer;
}

#search-main {
  display: flex;
  justify-content: space-around;
}

.outer-container {
  margin: 2rem 0;
  height: 300px;
  width: 300px;
  perspective: 1000px;
}

.inner-container {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  padding-bottom: 10px;
}

.card-front,
.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateX(0deg)
}

.card-back {
  transform: rotateY(180deg);
}

.outer-container.reverse .inner-container {
  transform: rotateY(180deg);
}

.ingredients {
  padding: 12px 0;
  display: list-item;
}

input:focus {
  outline: none;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}

button:hover,
input[type="submit"]:hover,
#account-link:hover {
  transform: scale(1.03);
  transition: transform .5s;
}

#account-link {
  display: inline-block;
}